.foorm{
    display: flex;
    align-items: center;
    height: 48px;
    /* border: 1px;
    border-radius: 8px; */
  
  
  }
  
  .searchbar{
    padding: 14px 20px;
    border-radius: 8px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border: 1px solid var(--color-secondary);
    width: 502px;
    height: 100%;
  
  }
  .searchbar::placeholder{
    color: black;
  }
  
  
  .button{
    padding: 14px 20px;
    border-radius: 0px 8px 8px 0px;
    border-left: none;
    border: 1px solid var(--color-secondary);
    height: 100%;
    cursor: pointer;
  
  }